.paragraph {
  font-family: var(--choosen-font-family-montserrat);
  font-size: var(--choosen-font-size-sm);
  line-height: var(--choosen-line-height-normal);
  letter-spacing: var(--choosen-letter-spacing-normal);
}

.paragraph-gray-1 {
  color: var(--choosen-colors-gray-1);
}
.paragraph-gray-4 {
  color: var(--choosen-colors-gray-4);
}
