.nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;
}
.nav input {
    position: absolute;
    margin-right: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    opacity: 0;
}
.nav .nav-icon {
    z-index: 10;
}

@media (max-width: 419px ) {
    .nav-menu {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding-top: 60px;
        padding-bottom: 10px;
        
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(-110%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .nav-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav input {
        z-index: 20;
    }
    .nav input:checked ~ .nav-menu {
        transform: none;
    }
}
@media ( min-width: 420px ) {
    .nav input {
        display: none;
    }
    .nav .nav-icon {
        display: none;
    }
}